/* @format */

/*IRIS WEB та кнопок color: #4D5AE5;*/
/* NAVY BLUE другорядний колір тексту color: #2E2F42; */
/* SLATE основний колір тексту color: #434455;*/
/* CLOUD в футері колір STUDIO color: #F4F4FD; */
/* CORNFLOWER в футері колір тексту color: #E7E9FC; */
/* білий колір тексту color: #FFFFFF; */
/* колір для кліка:  #404bbf */

:root {
 --primary-text-color: #434455;
 --secondary-text-color: #2e2f42;
 --acsent: #4d5ae5;
 --white-color: #ffffff;
 --click-color: #404bbf;
}

body {
 color: var(--primary-text-color);
 background-color: var(--white-color);
 font-family: 'Roboto', sans-serif;
}

.list {
 list-style: none;
}
.link {
 text-decoration: none;
}

/* Logo */
.logo {
 color: var(--secondary-text-color);
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.33x;
 display: flex;
 align-items: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
}

.logo-web {
 color: var(--acsent);
}

/* Site nav */
.site-nav .link.current {
 color: var(--click-color);
 text-decoration: underline;
}
.site-nav .link {
 color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
 color: var(--primary-text-color);
}
.site-nav .link:active {
 color: var(--acsent);
}
.auth-nav .link {
 color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
 color: var(--acsent);
}
.nav-tel {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
}
.nav-mail {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
}

/* Hero */
.hero {
}
.hero-title {
 color: var(--white-color);
 font-weight: 700;
 font-size: 56px;
 line-height: 1.07;
 text-align: center;
 letter-spacing: 0.02em;
 background-color: var(--secondary-text-color);
}
.hero-btn {
 color: var(--white-color);
 background-color: var(--acsent);
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 line-height: 1.19;
 display: flex;
 align-items: center;
 letter-spacing: 0.04em;
 cursor: pointer;
}
.hero-btn:active {
 background-color: var(--click-color);
}

/* Sections */
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;

 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.section-third {
    background-color: #f4f4fd;
}
.team-card {
    background-color: var(--white-color);
}
.first-list {
}
.title-second {
 color: var(--secondary-text-color);
 font-weight: 500;
 font-size: 36px;
 line-height: 1.11;
 text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
}
.title-third {
 color: var(--secondary-text-color);
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
}
.text {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
}
/* Footer */
.footer {
 background-color: var(--secondary-text-color);
}
.footer-text {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #e7e9fc;
}

/* Portfolio */
.portfolio-button {
 color: var(--acsent);
 background-color: #f4f4fd;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 line-height: 1.5;
 display: flex;
 align-items: center;
 text-align: center;
 letter-spacing: 0.04em;
 cursor: pointer;
}
.portfolio-button:active {
 color: var(--white-color);
 background-color: var(--click-color);
}
.footer-logo {
 color: #f4f4fd;
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17;
 display: flex;
 align-items: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
}

.footer-text {
 color: #e7e9fc;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
}
